@import url('https://fonts.googleapis.com/css2?family=Genos&family=Roboto:wght@100;300&display=swap');

:root {

   --main-bg-color: #f6f6f6;
   --main-color: #595959;

   --header-bg-color: #646869;
   --header-color: #ececec;
   --summary-bg-color: #ffffffa5;
   
   --net-income-color: #e4e4e4;
   --summary-box-desc-color: #e1e1e1;
   --summary-box-value-color: #ececec;

   --income-color: #155d5f;
   --expense-color: #921c2d;
   --summary-pct-bg-color: #55101a;

   --pct-income-color: var(--header-color);
   --pct-income-bg-color: var(--income-color);
   --pct-expense-color: var(--header-color);
   --pct-expense-bg-color: var(--expense-color);

   --list-item-dark-bg-color: #f3f3f3;
   --list-item-light-bg-color: var(--main-bg-color);
   --list-item-divider-color: #e0e0e0;

   --global-border-radius: 10px;
   --summary-box-border-radius: 10px;
   --animation-curve: cubic-bezier(.52,.02,.44,.98);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: var(--main-color);
   background: var(--main-bg-color);
   font-family: 'Genos', sans-serif;
   font-size:1.3em;
   min-width: 400px;
}

header { 
   background: url('../images/header.webp') center center no-repeat;
   background-size: cover;
   background-blend-mode:lighten;
   background-color: var(--header-bg-color);
   display: flex;
   justify-content: center;
   color: var(--header-color);
   font-size: 1em;
   font-weight: 400;
   padding: 20px;
   position: sticky;
   top: 0;
   z-index: 1001;
}

.header-container {
   display: flex;
   justify-content: center;
   margin-left:-170px;
}

.logo {
   background: rgba(255, 255, 255);
   border: 1px solid rgb(143, 143, 143);
   border-right: none;
   height: fit-content;
   margin: auto 0 auto auto;
   border-start-start-radius: 8px;
   border-end-start-radius: 8px;
}

.logo img {
   width: 150px;
   border-start-start-radius: 8px;
   border-end-start-radius: 8px;
}

#summary {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 400px;
   height: 200px;
   margin: 0 auto auto 0;
   padding-left: 32px;
   border: 1px solid var(--main-color);
   background: var(--summary-bg-color);
   border-radius: 15px;  
}

#month {
   position: absolute;
   width:196px;
   height:32px;
   top:181px;
   left:167px;
   color: var(--header-color);
   background-color: var(--main-color);
   border-start-start-radius:13px;
   border-start-end-radius:13px;
   border:1px solid  var(--main-color);
   font-size: 1.1em;
   font-family: Genos, sans-serif;
   display:flex;
   justify-content: center;
   align-items: center;
   transform: translateX(-150px) rotate(-90deg);
   transform-origin:left center;
}

#net-income {
   opacity: 0.9;
   font-size: 2.5em;
   padding:0;
}

#summary-box-container {
   width:90%;
   margin-bottom:10px;
}

.summary-box {
   width: 100%;
   font-size: 0.9em;
   margin: 1px 0 0 0;
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
}

.summary-box:nth-child(1) {
   border-start-start-radius: var(--summary-box-border-radius);
   border-start-end-radius: var(--summary-box-border-radius);
}

.summary-box:nth-child(2) {
   border-end-start-radius: var(--summary-box-border-radius);
   border-end-end-radius: var(--summary-box-border-radius);
}

.summary-box .desc {
   width: 40%;
   text-align: left;
   color:var(--summary-box-desc-color);
}

.summary-box .value {
   width:40%;
   text-align:right;
   color:var(--summary-box-value-color);
}

.pct {
   display:flex;
   justify-content: center;
   align-items: center;
   width: 48px;
   padding-bottom: 2px;
   font-size: 0.7em;
   border-radius: 8px;
}

.summary-exp-pct {
   font-size: 0.7em;
   color: var(--header-color);
   background-color: var(--summary-pct-bg-color);
   opacity: 0.5;
}

.inc-pct {
   color: var(--pct-income-color);
   background: var(--pct-income-bg-color);
   border:1px solid var(--pct-income-bg-color);
}

.exp-pct {
   color: var(--pct-expense-color);
   background: var(--pct-expense-bg-color);
   border:1px solid var(--pct-expense-bg-color);
}

.inc-bg-color {
   border: 1px solid var(--income-color);
   background-color: var(--income-color);
}

.exp-bg-color {
   border: 1px solid var(--expense-color);
   background-color: var(--expense-color);
}

.inc-color {
   color: var(--income-color);
}

.exp-color {
   color: var(--expense-color);
}

.green {
   color: var(--income-color);
   border: 1px solid var(--income-color);
}

.green-btn {
   color: white;
   background: var(--income-color);
}

.green-btn:hover {
   background: #1f8f93;
}

.red {
   color: var(--expense-color);
   border: 1px solid var(--expense-color);
}

.red-btn {
   color: white;
   background: var(--expense-color);
}

.red-btn:hover {
   background: #b72339;
}

.hidden {
   display: none;
}

/* Add item form */
#add-item {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   background: #ebebeb;
   padding: 10px 0;
   position: sticky;
   top: 240px;
   z-index: 1000;
   border-bottom:1px solid #d4d4d4;
}

#add-item input,
#add-item button {
   margin:0 5px;
}

#add-item input {
   padding: 10px;
   border-radius: var(--global-border-radius);
   background-color: rgb(255, 255, 255);
}

#add-item input:focus {
   outline: none;
}

#add-item-desc {
   width:220px;
}

#add-item-value {
   width:100px;
}

#add-item button {
   width:70px;
   padding: 10px 10px;
   border-radius: var(--global-border-radius);
}

#add-item button:hover {
   cursor: pointer;
   color: white;
}

#alert-container {
   display:flex;
   justify-content: center;
   width: 100%;
   position: relative;
}

#alert-box {
   position: absolute;
   display: none;
   border: 1px solid var(--pct-expense-color);
   padding: 10px;
   margin: 5px 0px;
   border-radius: var(--global-border-radius);
   color: white;
   background-color: rgb(181, 0, 0);/* var(--pct-expense-bg-color);*/
   font-size: 0.8em;
   z-index: 1000;
   top:5px;
}
/* End of add item section */

/* Transactions List */
#list-container {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#list-header {
   margin: 10px 0;
   text-transform: uppercase;
}

#list {
   width: 500px;
   margin:0px 20px 25px 20px;
}

/* List Items */
.list-item {
   font-size: 0.9em;
   position: relative;
   display: flex;
   align-items: center;
   padding: 13px 20px 13px 20px;
   border-top: 1px solid var(--list-item-divider-color);
   background-color: var(--list-item-light-bg-color);
   text-transform: capitalize;
}

.list-item:nth-of-type(2n) {
   background-color: var(--list-item-dark-bg-color);
}

.list-item:last-of-type {
   border-bottom:1px solid var(--list-item-divider-color);
}

.list-item:hover > div:nth-child(1),
.list-item:hover > div:nth-child(2) {
   width: calc(50% - 45px);
}

.list-item:hover .item-delete-btn {
   opacity: 1;
   transform: scale(1);
}

.description {
   color: var(--main-color);
   width: 50%;
   transition: width 0.3s var(--animation-curve);
}

.value {
   width: 50%;
   text-align: right;
   margin-right: 10px;
   transition: width 0.3s var(--animation-curve);
}

.value span {
   margin-right:10px;
}

.item-delete-btn {
   position: absolute;
   width:40px;
   height:30px;
   z-index: 0;
   
   top: calc(45% - 13px);
   right: 10px;

   cursor: pointer;
   font-size: 0.8em;
   text-align: center;

   opacity: 0; 
   border: none;
   background-color:transparent;

   transform:scale(0);
   transform-origin: center center;
   transition: all 0.3s var(--animation-curve);
   transition-property: opacity, transform;
}

.item-delete-btn img {
   width:  17px;
   height: 17px;
}

/* Tablet and Mobile screens */
@media screen and (max-width: 768px) { 
   
   header {
      padding:10px;
   }

   .header-container {
      margin-left: auto;
   }

   .logo {
      width:20%;
   }

   .logo img {
      width: 100%;
      height:fit-content;
   }

   #summary {
      width: 320px;
      height: 160px;
      justify-content: space-evenly;  
   }

   #net-income {
      font-size: 2.2em;
   }

   #month {
      width: 156px;
      font-size:1em;
      top:141px;
   }

   #summary-box-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
   }

   .summary-box {
      font-size:0.8em;
      width:100%;
      padding:10px;  
   }

   #add-item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 170px;
      padding:0;
      top: 180px;
   }

   #add-item-desc,
   #add-item-value {
      padding: 8px;
      font-size: 0.9em;
   }

   #add-item-desc,
   #add-item-value,
   #add-item button {
      width: 90%;
      margin:0;
   }

   #alert-box {
      top:170px;
      left:20%;
   }
   
   #list {
      width: 100%; 
   }

   .list-item button img {
      transform: scale(1.3);
   }

   .list-item > div:nth-child(1),
   .list-item > div:nth-child(2) {
      width: calc(50% - 48px);
      font-size: 1.3em;
   }

   .list-item .item-delete-btn {
      opacity: 1;
      transform: scale(1);
   }

   [data-tooltip]:before,
   [data-tooltip]:after {
      display: none;
   }
}

@media print {
   .noprint {
      visibility: hidden;
      height:0;
   }
}